[2016-10-14 16:31] jezcope opened #5 "Add web analytics to website"
I'm assuming Google Analytics but there are other options. Any suggestions/preferences?

[2016-10-14 16:48] drjwbaker commented on #5
No idea. Is it evil despite their don't be evil stance?

[2016-10-17 06:26] jezcope commented on #5
I don't really have any problem with Google Analytics, I just wanted to give an opportunity for anyone who might have strongest preferences a chance to express them! I've used Woopra in the past and their realtime analytics are much better if that's likely to be of interest (e.g. during presentations about LC and/or workshops).

The one thing I'd quite like which isn't easily doable with GA is to

[2016-10-27 09:52] jezcope commented on #5
I'll close this as it's handled by #6 — if we want to change analytics platforms we can always open a new issue.

For reference, there's a [public spreadsheet with the last 28 days-worth of analytics data on it](https://docs.google.com/spreadsheets/d/1gQG2A9zsOwrgg2Mp4uc4UcGK8OrVGpGfVjud_6vS_eM/edit?usp=sharing)

[2016-10-27 09:52] #5 closed

[2016-10-27 09:54] jezcope opened #7 "Add a prominent "I'm a librarian, why should I care?" section"
From a recent email exchange:

To get buy-in from potential learners (as opposed to instructors), I think we need to address this somewhere on either the home or about pages. Both of these currently go straight into detail about which tools are taught (git, OR, etc.) without explaining in lay terms why those skills are useful.

[2016-11-01 23:11] weaverbel commented on #7
@jezcope @drjwbaker I also think we need to make the case for why digital skills are important in the wider picture, i.e. something along the lines of 'The 21st century is the century of data. In many cases now, researchers don't want librarians to find new information sources for them - they want help and guidance to find information within the data they already have - by mining it, analysing it

[2016-11-02 00:03] richyvk commented on #7
Might want to mention that these skills are (potentially at least) wider than research support too. I liked @jezcope 's rewrite of the intro - the stuff about automating boring stuff etc. I think it's worth saying that these tools will help librarians tackle all sort of challenges, be they assisting researchers with thier data, or processing their own data, or indeed other things. Particularly if

[2016-11-02 17:13] drjwbaker commented on #7
I don't want to focus too much on research support because I'm uncomfortable with that coming across as the prime motivation. That said another bullet like..

.. works for me.

[2016-11-02 19:43] weaverbel commented on #7
Fine with me - and the research thing might put off librarians in public libraries, many of whom are interested here.

[2016-11-02 19:47] jezcope commented on #7
Yes, I tend to talk about the research thing quite a bit because it's a good selling point in my own workplace, but I don't see it as the most important or valuable thing by any means.

[2016-11-03 14:38] drjwbaker commented on #7
We just need to strike the right balance: research collaboration or research support isn't an in for everyone. I'm just conscious - as a researcher - not to overplay that hand.

[2016-11-05 12:34] gvwilson opened #10 "Update short description of this repository"
The one-line description of this repository on its home page still says "November 2015, City University, London".

[2016-11-05 12:36] gvwilson opened #11 "Update the LICENSE in this repository"
`LICENSE` still gives copyright to Barry Clark.

[2016-11-05 17:55] jezcope commented on #11
Thanks @gvwilson, good spot (and thanks for your other work on this repo today!)

All: I propose either CC-BY or CC-BY-SA for the content of this website, with a slight preference for the latter. Views?

[2016-11-05 19:12] gvwilson commented on #11
I'd be very grateful if LibraryCarpentry used CC-BY for everything,
since both Software Carpentry and Data Carpentry have done so.  (No
objections to -SA, but any license differences are likely to be stumbles
down the road.)

[2016-11-05 19:53] jezcope commented on #11
Seems reasonable to me!

[2016-11-05 20:14] jezcope opened #17 "Improve lesson summaries on the homepage"
The summaries on the home page give a good idea of *what* is going to be taught — particularly helpful if you're an instructor — but don't really explain *why* a librarian would want to learn those things.

[2016-11-05 22:46] drjwbaker commented on #11
CC-BY http://data-lessons.github.io/library-data-intro/license/ so repeat everywhere (this is just legacy..)

[2016-11-05 22:50] drjwbaker commented on #17
That they do. I guess we reused one bit of text but not the other..

[2016-11-06 01:14] ccronje commented on #7
To librarians, I've described computational approaches as automating boring, repetitive tasks;
exploring and transforming messy files quickly and efficiently; discovering patterns in data e.g. extracting meaning for better decision-making, but also exploring creative thinking.

I explain that computational thinking starts to become part of your daily library practice e.g. simple but significant de

[2016-11-06 09:38] drjwbaker commented on #7
Feeling confident to admit not knowing something seems super important. Perhaps suggest an edit/addition at https://github.com/LibraryCarpentry/librarycarpentry.github.io ?

[2016-11-06 11:54] ccronje commented on #7
The desire to tinker, experiment and hack is strong in the library community. These form part of the learning/skills outcomes of LC and would be good to highlight. It would actually be fun to teach them about the commandline on a RaspberryPi to help boost their confidence and facilitate experimentation (it would also provide a workaround for locked down systems!).

[2016-11-06 21:28] weaverbel commented on #7
@ccronje @drjwbaker So many locked down systems ! And it really crushes the urge to experiment. I tell all my people I am using a Linux machine I bought for $250. It had Windows on it which I threw away and installed Ubuntu desktop instead. When I show them how fast it is to boot up, how the battery goes all day even with heavy usage and how fast it is to update, they often think about getting one

[2016-11-08 07:59] drjwbaker commented on #10
Fixed.

[2016-11-08 07:59] #10 closed

[2017-03-09 15:55] jezcope commented on #11
Resolved by #21

[2017-03-09 15:55] #11 closed

[2017-03-09 16:00] jezcope opened #22 "Add a "new lesson incubator""
Prompted by @drjwbaker's comments in #20, I thought it might be good to have a separate "incubator" list of lessons that have been developed and/or taught under the LC banner but aren't yet mature enough to be officially adopted. I'm thinking that these lessons would be good to surface so that they can be taught a few times and given a chance to mature. I feel like this would be a good balance bet

[2017-03-10 00:06] weaverbel commented on #22
@jezcope @drjwbaker Really keen to see this as it shows the dynamism of this space and opens up the opportunity for contributions from all over. I have pinged Tom and Brenda through the chatroom as to whether we can start by forking their existing work on web scraping . It also might lay the groundwork for things that could realistically be done if we run another two-day global sprint in June. I a

[2017-03-10 08:40] jezcope commented on #22
@weaverbel Great, thanks! So, potential lessons to include here so far:

- [Tidy data for librarians](https://github.com/jezcope/library-spreadsheets)
- [Library web scraping](https://github.com/timtomch/library-webscraping) (by @timtomch)

[2017-03-10 09:58] drjwbaker commented on #22
My opinion: put it on the main page under the 'main' lessons; add the repos to 'data-lessons'; move SQL to incubator as - as far a I can see - it still needs some real playtesting to be a lesson proper.

Thanks for taking this forward @jezcope.

And agreed with @weaverbel: these are ideal candidates for the sprint (which we should do regardless of Mozilla - anyone know them enough to find out what

[2017-03-10 11:14] jezcope commented on #22
@weaverbel @drjwbaker Looks like this year's MSL global sprint is scheduled for 1/2 June: https://science.mozilla.org/programs/events/global-sprint-2017

[2017-03-10 12:32] drjwbaker commented on #22
I look earlier this week but glad it is now there! Let's do it (I'll block out some time..)

[2017-03-10 13:01] ccronje commented on #22
Wrt SQL discussion - the folks in Norway who contributed to Unix Shell also did this version of SQL https://scriptotek.github.io/library-sql/. There is this other version as well http://labs.timtom.ch/sql-novice-library/index.html

[2017-03-10 17:15] drjwbaker commented on #22
Yeah.  Good point @ccronje. We have a few versions knocking around. I think we need to tidy this up during the sprint.

[2017-03-11 04:08] weaverbel commented on #22
Great ! How shall we organise this year's sprint? Etherpad? Google form to sign people up? Zoom for daily catch ups? Happy to sort whatever works best to wrangle teams and do the blurb/paperwork for MSL so we get our project listed early on. I'll also do a blog post for SWC we can all tweet and we should post it on librarycarpentry.github.io as well. I will be in transit most of May (US, Scotland,

[2017-03-13 00:57] timtomch commented on #22
Hi there! Happy to contribute the webscraping lesson. I have now taught it three times, and finally last week at the code4lib conference in LA I was finally happy with it. The text still needs some smoothing over (particularly the XPath section), timing needs to be reworked and the episodes that I have now moved into the "extra" folder as the lesson would be too long otherwise still remain to be r

[2017-03-13 10:41] drjwbaker opened #23 "Mozilla Global Sprint 2017, 1-2 June 2017"
**SUPERCEDED AT https://github.com/LibraryCarpentry/librarycarpentry.github.io/issues/23#issuecomment-290058114**

Issue to setup inital organisation of Library Carpentry activities at Mozilla Global Sprint 2017 https://science.mozilla.org/programs/events/global-sprint-2017

Initial proposed work:

- work on incubator lessons: https://github.com/jezcope/library-spreadsheets; https://github.com/tim

[2017-03-13 10:42] drjwbaker commented on #22
Right. I've opened an issue at https://github.com/LibraryCarpentry/librarycarpentry.github.io/issues/23 @weaverbel are you happy to do this initial MSL registration?

[2017-03-13 22:27] weaverbel commented on #23
Hi @drjwbaker I have created the etherpad and tweeted it. If someone could re-tweet from LibCarpentry that would be good too. I'll talk to MSL - project calls are not open yet but we have everything we need to register  since we created all the right stuff last time. Happy to sort that. We should try to get this message out to archivists (see the chatroom) http://pad.software-carpentry.org/lc2017

[2017-03-13 22:37] weaverbel commented on #22
Hi @timtomch I think you should keep your own copy and we can fork a version of it into LC as the lessons might end up diverging. What do others think?

[2017-03-28 08:35] jezcope commented on #23
More possible work to be done from various discussions:

- Revamp the Python lesson to be more realistic for the audience (maybe split into multiple lessons?)
- Free workshop data from the shackles of Google Sheets
  - Rendered on the website
  - Downloadable in machine-readable form e.g. JSON
- Develop material for archivists (and improve comms to non-librarian information professionals)

[2017-03-28 22:44] weaverbel opened #24 "Shall we use the Software Carpentry workshop template for LC workshops?"
I use this template for all the workshops I teach whether they are SWC or LC : https://github.com/swcarpentry/workshop-template

To see a live one, look at:
https://weaverbel.github.io/2017-05-11-lc-boston/

That was a big customisation job as I had to change the software list, tweak the schedule etc. The good news is people could just copy and paste the software setup bit of my code into their ow

[2017-03-28 22:55] weaverbel commented on #23
@drjwbaker @jezcope I think we need to start drafting a plan of work for the sprint - tell people exactly what we want to get done, e.g. bug fixes like typos, errors; melding all the SQL lessons into one; badging up Tom's web scraping lesson for LC; maybe also badging Brenda's Beautiful Soup Python web scraping lesson as an alternative web scraping lesson; @ostephens 's XSLT lesson dev if that is

[2017-03-29 07:57] ostephens commented on #23
I'm not sure I intended to put my hand up for XSLT lesson dev!

I'd like to see the 'Archive Carpentry' idea on the list and I'd be interested in working on either that, or on getting a web scraping lesson done.

I think getting a public document for the sprint is a good idea. Google Docs works for me, and might let us source ideas from a wider range of people than doing it straight into GitHub

[2017-03-29 08:15] ostephens commented on #23
Digging out some previous discussion about XSLT/XPath from the Gitter chat, I think we boiled down to two use cases - quote myself:

Potentially I'd add to these:

- Using XSLT/XPath with EAD
- Using XSLT/XPath with MODS

[2017-03-29 10:01] weaverbel commented on #23
Sorry @ostephens I didn't mean to dob you in - I just vaguely recalled XSLT being raised. I think we should concentrate on the other stuff but didn't want to discourage people from cracking on with new stuff if that is what floats their boat. Happy to go with a Google Doc - we can lodge it in GitHub once the outline has been firmed up.

[2017-03-29 11:10] drjwbaker commented on #23
Thus far we have:

**lessons**
- work on updating and badging incubator lessons: https://github.com/jezcope/library-spreadsheets; https://github.com/timtomch/library-webscraping
- bring together various SQL lesson threads https://github.com/LibraryCarpentry/librarycarpentry.github.io/issues/22#issuecomment-285663565
- Archive Carpentry [is this an archives focused version of an existing lesson?]
-

[2017-03-29 13:32] timtomch commented on #23
I'm unfortunately not able to participate in the sprint but I will endeavour to cleanup the webscraping lesson before that. Also the XPath section of that lesson was mainly written by @kimpham54 who might be interested in doing more XPath/XSLT stuff.

[2017-03-29 19:59] jezcope commented on #24
Given the amount of customisation needed, is it worth having our own fork (an actual fork rather than an import) of it as a starting point for LC workshops, but making sure we merge changes from the upstream SWC template regularly?

[2017-03-29 20:02] jezcope commented on #23
@weaverbel :+1: to Google Doc, unless you want to try one of the options listed here (shameless plug): [Tools for collaborative markdown editing](https://erambler.co.uk/blog/collaborative-markdown-editing/)

[2017-03-29 22:24] weaverbel commented on #24
@jezcope Not a bad idea - but I don't 100% know how to do the merge - do you? We could have the fork in data-lessons and call it lc-workshop-template.

[2017-03-29 22:55] jt14den commented on #24
Guys, I did a bit of the customization needed and mentioned by @weaverbel (added the logo option & library carpentry links in the _config.yml  for the upcoming LC at Pitt:

https://datascienceinlibraries.github.io/2017-05-18-pitt/

I'd be happy to retrace my steps a bit to capture just the changes for a fork as what @jezcope describes. Maybe we can add that to the what Belinda has already one.

[2017-03-29 23:34] ccronje commented on #23
If you want to get from Google Docs to markdown post-sprint, the [Export as Markdown](https://chrome.google.com/webstore/detail/export-as-markdown/hbojhdcnbcondcdfpfocpkjkfkbnbdad?hl=en-US) add-on is pretty neat (nice way of liberating Word docs too via Google Docs upload).

[2017-03-30 15:01] jt14den commented on #24
I forked the SWC workshop template and added in the customizations from @weaverbel mixed with some of the ones I had and put up here:

https://github.com/jt14den/workshop-template

The rendered website is here: http://www.tim-dennis.com/workshop-template/

Edit suggestions/changes welcome.

Would it be better to live in the data-workshops or librarycarpentry organization? I'm not a collaborator on

[2017-03-30 15:20] drjwbaker commented on #24
@jt14den Added you to librarycarpentry.github.io I'm not 'Core' on https://github.com/orgs/data-lessons/teams so can't do that. Repo management is something we need to think about..

[2017-03-30 15:22] drjwbaker commented on #24
I should add: template looks perfect. Is the workflow converting the details entered into a database of lessons (past, future) part of the template?

[2017-03-30 18:25] jt14den commented on #24
@drjwbaker Ah, I typically email the admin@software-carpentry and they get it listed, but that's not spelled out. I also noticed that the instructions above the section 'general information' starting with 'This is a workshop template' contain a broken link to a dead workshop request form.  The SWC [request form](https://amy.software-carpentry.org/forms/swc/request/) does have a 'self-organized' ra

[2017-03-30 22:53] weaverbel commented on #24
@jt14den @drjwbaker I think I should check with SWC about how to proceed. I am on the Software Carpentry steering committee so that is how I got access to AMY - I wrangle workshop requests for half of Australia to save SWC having to do the admin for all those. But AMY access is not given out to many people otherwise. I am happy to get into AMY any workshops we run, but they can only be AMY'ed if t

[2017-03-30 23:06] weaverbel commented on #24
@jt14den @drjwbaker @ostephens @jezcope
+1 to James's point about repo ownership - we need to get that sorted, and maybe get a written procedure for adding new people as I feel I have to figure it out anew each time :-(

The other issue is the survey links from the template. These are for SWC surveys and each new workshop has to be added to SurveyMonkey so that respondents find their specific work

[2017-03-30 23:35] weaverbel commented on #23
@ostephens @drjwbaker  I've just been invited to do a one-day LC workshop at an archivists' conference in Australia in September. All the more reason to get some archivist input to the sprint to help inform that workshop. I was thinking of creating a short Google form to ask archivists what they would like to see in our lessons to make them more relevant to their needs. We could all tweet that for

[2017-03-30 23:40] timtomch commented on #23
@weaverbel that echoes some of the comments heard this spring at code4lib in LA. I have a couple of archivists friends that I know would be eager to contribute their thoughts. Google form is a good idea.

[2017-03-30 23:44] weaverbel commented on #23
Thanks @timtomch I might draft a form and post it to the chat room for comment before I make it live.

[2017-03-31 01:21] weaverbel commented on #23
OK, @ostephens @timtomch @drjwbaker @jezcope @ccronje I have drafted a form for archivists - big enthusiasm here to get this out to archivists - what do people think of the questions? Happy to tweak. https://docs.google.com/forms/d/e/1FAIpQLSdc9RHNmgffnt9UtLfgIhS_MGUzh0wh-HQNX24wBz5c4mcf1g/viewform

[2017-03-31 08:11] drjwbaker commented on #24
Here is where I am. I am easy on whether or not we use the SWC form as I have no experience of its functionality or usability. What we need is a way for people to advertise LC workshops at a URL and a way for listing past and future LC workshops at a URL. If we can easily combine these two needs via the SWC process, great. If it proves a faff, let's seek alternatives.

[2017-03-31 08:13] drjwbaker commented on #23
I like it. I also approve of the use of 'town' rather than 'city' :)

[2017-03-31 08:14] ostephens commented on #23
+1

[2017-03-31 11:42] weaverbel commented on #23
Ok @ostephens - done

[2017-04-03 22:55] weaverbel commented on #24
We have liftoff from SWC SC on customising the template to work for Library Carpentry. I am contacting someone to get that done and it should be available soon.

[2017-04-03 23:29] jt14den commented on #24
@weaverbel yay! Great to hear.

[2017-04-04 01:40] weaverbel commented on #24
Thanks @jt14den I have asked @rgaiacs to action this, and I've given him links to your and my template tweaks so I hope it will be soon. Thanks Raniere in advance!

[2017-04-04 07:12] rgaiacs commented on #24
Initial work at https://github.com/swcarpentry/workshop-template/pull/393/.

[2017-04-04 07:42] jezcope commented on #24
@jt14den Looks great! A couple of things we probably need to consider:

- `nano` is the default text editor for SWC, and the best justification for this I've heard is that it will still be available when you log into your HPC over SSH. Given that many fewer library folk will need to do this, should we consider recommending Atom/Sublime/Notebook++ instead? My feeling is that for this audience the m

[2017-04-04 07:46] ostephens commented on #24
@jezcope Emacs! (just kidding)

[2017-04-04 07:51] ostephens commented on #24
@jezcope out of those I think that Atom is the only one that is free and available for Windows, Mac and Linux?

[2017-04-04 09:26] ccronje commented on #23
I'd like to work on OpenRefine for the Sprint. I could start with [the issues](https://github.com/data-lessons/library-openrefine/issues) on making episodes more granular. There is a bigger discussion to be had though, about adding new examples and the length of workshop. OpenRefine is a good candidate for an Intro/Advanced workshop split. Advanced could explore more GREL and API examples (parsing

[2017-04-04 09:33] jezcope commented on #24
@ostephens Atom was my thought too (Emacs might be a little bit too scary... :stuck_out_tongue_winking_eye:). Queue endless discussions about whether or not we should be advocating a specific software stack...

[2017-04-04 10:03] drjwbaker commented on #24
I've had workshop attendees before complain that Atom is massive to download/install. For the record I use TextWrangler for Mac, gedit for Linux, Notepad++ for Windows.

[2017-04-04 10:05] drjwbaker commented on #23
@ccronje Given how much chatter we've had around the Refine lesson, it strikes me that it would be sensible to use the sprint to resolve (or at set out a plan for resolving) these nagging issues. I'll leave you as OR maintainers to decide how/what.

[2017-04-04 10:58] rgaiacs commented on #24
As far as I know, Atom is one of the text editor that satisfies the open source criteria and be available for Windows, Mac and Linux. Another one is Emacs, which has a [portable version for Windows](http://esnm.sourceforge.net/EmacsPortable.html). If you need to use a text editor I would recommend the same one for all the operating system since some learners are more visual.

[2017-04-04 23:01] weaverbel commented on #24
@jezcope @drjwbaker @ostephens I am anti-Atom (though it is awesome) as (1) it is a huge download for something called Atom (!) and (2) while it has great functionality, it is probably too much cognitive overload for people to get up up and running with it quickly - there has been a lot of discussion on this issue on the SWC discuss list. I think notepad, gedit etc are better alternatives because

[2017-04-05 08:01] drjwbaker commented on #24
I too am anti-scaring people with tech just to fulfill open source criteria. If we can, I'd prefer to help people take baby steps and win them over gradually to open source goodness rather than go for shock and awe and lose them entirely.

[2017-04-05 09:05] ostephens commented on #24
What is it about Atom that leads to cognitive overload? It seems straightforward to me to just edit a text file? Surely compared to nano it is much more user friendly?

Gedit is smaller, but just tried to install and the latest version didn't work on macOS for me (plus the package is unsigned, so there are extra hoops to jump through to install on Mac)

Not familiar with the latest version of Note

[2017-04-05 10:20] weaverbel commented on #24
@ostephens I hear you, I hear you but that very issue has just been canvassed on the discuss digest. Will try to find the link, but basically it boils down to - you use it, you've learned it, you love it BUT for someone coming to it new (and I have been there with Atom) it is actually quite daunting, mainly because it can Do. So. Much. But for newbies, it is just too much choice. It's like giving

[2017-04-05 10:45] weaverbel commented on #24
Ok @ostephens @drjwbaker and others Here is the start of the Atom/nano discussion. http://lists.software-carpentry.org/pipermail/discuss/2017-March/005140.html

[2017-04-05 12:31] ostephens commented on #24
Thanks @weaverbel.

I have to admit I don't find the arguments for nano put there overwhelming, but I'm not really bothered enough to argue further. At the end of the dayI want instructors happy with what they are teaching and to use what they find works for them/their students!

The only other point I'd make is that a good text editor is a powerful tool in itself. Maybe what I really would like t

[2017-04-05 12:56] drjwbaker commented on #24
I think what I take from this as follows: what is important to LC is that when we use text editors we make the case for text editors. I'm happy for instructors to recommend what they wish in terms of *which* editor.

[2017-04-05 22:33] weaverbel commented on #24
Hi @ostephens I agree the case for nano is not great - it was more that the reasons why people objected to Atom because of cognitive load were listed there. I am actually agnostic on this issue - I use gedit and nano and Notepad, and I have taught with people who just LOVE Vim (Gawdelpem) and a colleague here still uses emacs.  I think it might be good to let people start with a basic editor and t

[2017-04-05 22:34] weaverbel commented on #24
And I agree with @drjwbaker - let's leave the choice open., People teach best what they are comfortable with.

[2017-04-07 15:12] drjwbaker commented on #24
Right. Are we agreed(ish) on text editors? Is the template now working? Can we write up a guide on "how to use the template" and close this?

[2017-04-07 15:20] drjwbaker opened #25 "Archive Carpentry?"
*Opening an issue to help organise our thoughts*

## Background

- Library Carpentry has seen interest from archivists in our lesson materials and workshops.
- We don't want to confuse matters or spread ourselves too thinly by trying to start Archive Carpentry alongside Library Carpentry (especially in the context of the proposed Software/Data Carpentry merger https://software-carpentry.org/blog/2

[2017-04-07 16:09] drjwbaker commented on #25
**API lesson** Potential API lesson. Ideally json based and read/write. Ideas:

- http://www.meanboyfriend.com/overdue_ideas/2016/06/introduction-to-apis-using-iiif/
- https://github.com/hughrun/rijks-teen-press
- https://hughrun.github.io/recipe_trove/
- https://gist.github.com/VladimirAlexiev/e51e256be18870ac5033901197ee8277
- http://www.nationalarchives.gov.uk/help/discovery-for-developers-abou

[2017-04-07 16:16] ostephens commented on #25
DPLA API + Ideas on using it https://dp.la/info/developers/ideas-and-projects/current-ideas/

[2017-04-08 00:50] ablwr commented on #25
+1 to all of these things and the project! Thanks everybody!

This may be too closely related to the existing introduction to shell, but I think that file format transformation specifically may be relevant to archivists (both how to do this, usually via CLI, but also why, an understanding of preservation-grade file formats and access-grade formats, basics of compression, etc).
A resource is here (

[2017-04-09 23:16] weaverbel commented on #24
@drjwbaker I will check with @rgaiacs to see if we are ready to fly. Rainere? Good to go? Thanks for your efforts BTW! There are actually pretty good instructions on the workshop template page James - are you happy that this is enough? https://github.com/swcarpentry/workshop-template Happy to be a sounding board if people get into a tangle with it.

[2017-04-10 06:34] jezcope commented on #24
Yup, I'm happy with that as a policy on text editors. I think leaving the decision to the instructor allows the flexibility to choose based on a knowledge of the audience where that's available, and should enable instructors to be more comfortable. It also gives us more scope to try some alternatives and discuss the pros and cons within the community.

For reference, I tend to prefer vi over ssh b

[2017-04-10 10:29] rgaiacs commented on #24
@weaverbel based on https://github.com/swcarpentry/workshop-template/pull/393, I need (1) changes to syllabus and (2) instructions for the text editor you are going to use. When I have (1) and (2) I can rebase the pull request and merge.

[2017-04-11 02:00] weaverbel commented on #24
Hi @rgaiacs

(1) Is it possible to copy the syllabus info from Tim Dennis's existing customisation? http://www.tim-dennis.com/workshop-template/ That is correct, and you should be able just to copy the markdown from there.

(2) We are still discussing the text editor issue so I would leave it as the standard SWC one for now and people can customise the instructions (if they want changes) for their

[2017-04-11 08:46] drjwbaker commented on #25
@ablwr Thanks for your input! Glad to see you found Sourcecaster: I worked on that with @thomasgpadilla.

On XSLT, this has bubbled up a few times - for example we had this https://github.com/data-lessons/librarycarpentry/issues/14 discussion last year. I don't know enough to comment really but it feels like we've always decided not to proceed. What I don't want us to do is to duplicate good work

[2017-04-11 10:55] rgaiacs commented on #24
@weaverbel Thanks. I will work on it before Easter. If you didn't have any news after Easter please get in touch.

[2017-04-11 11:45] ablwr commented on #25
It was easy to find Sourcecaster because I made ffmprovisr, from which the codebase is forked. 😅

[2017-04-11 11:49] drjwbaker commented on #25
Huh. Awesome!

[2017-04-11 12:09] drjwbaker commented on #24
On (2) using SWC as default for text editors - for now - works for me.

[2017-04-11 19:02] rgaiacs commented on #24
@weaverbel I updated the pull request. I emailed you and Kate asking more people to review the changes.

[2017-04-11 22:34] weaverbel commented on #24
Thanks @rgaiacs I'll take a look.

[2017-04-18 01:35] weaverbel commented on #23
Should we try to adapt this Contributor guide from Data Carpentry to describe the work for our sprint ?
 https://github.com/datacarpentry/lesson-release/blob/master/how-to-contribute.md

[2017-04-18 04:01] ccronje commented on #23
@weaverbel did you see this by @jt14den & colleagues? http://www.tim-dennis.com/swc/2016/07/25/contributing-carpentries.html

[2017-04-18 04:18] weaverbel commented on #23
No @ccronje I hadn't seen that but it looks good ! We probably need a sprint to work out how to write the CONTRIBUTING.md for the sprint ;-)

[2017-04-18 07:30] drjwbaker commented on #25
[From Jenny Bunn on the Gitter](https://gitter.im/weaverbel/LibraryCarpentry?at=58ef45b9f22385553d389255):

[2017-05-02 20:20] jezcope opened #26 "Publish forthcoming and past workshops on the web"
Ideally, the list of workshops should be:

1. Rendered on the website; and
2. Downloadable in machine-readable form e.g. JSON

@weaverbel Not sure if we need to do this ourselves or just tap into AMY?

[2017-05-02 22:57] weaverbel commented on #26
Let's discuss it when we have a more fleshed out proposal @jezcope?I have AMY access but it is a bottleneck to have only one person with those credentials, and anyway, we want something open. I will check whether I can export LC workshops info from AMY.

[2017-05-15 19:45] amyehodge commented on #22
I also have a modified version of the SQL workshop that I teach from regularly at https://github.com/amyehodge/amyehodge.github.io/tree/master/Beginning_SQL. I think the biggest modification is that I have attempted to get the queries to build up into a big query over time instead of starting over a lot. Hope that makes sense.

[2017-05-17 13:33] drjwbaker commented on #22
@amyehodge Thanks so much for sharing. This is super helpful.

Who is leading on maintaining/reworking the SQL lesson. @c-martinez?

[2017-05-18 07:58] c-martinez commented on #22
During the sprint? I don't think anybody has volunteered for it, explicitly.

[2017-05-25 15:50] drjwbaker commented on #22
@c-martinez Both: it isn't clear to me who is maintaining or if anyone is willing to lead on this for the sprint.

[2017-05-30 07:34] c-martinez commented on #22
@drjwbaker -- @mkuzak and me are maintainers of SQL lesson, but I we are not working on the lesson during the sprint. I'll keep an eye out for PR's but will mainly concentrate on Python new lesson.

[2017-05-30 07:37] mkuzak commented on #22
my primary target for the sprint was OpenRefine lesson, but may also work on SQL if time allows

[2017-05-30 14:39] drjwbaker commented on #22
Okay. Totally understand. As maintainers perhaps you could coordinate a few simple tasks during the sprint:

1) moving the lesson to incubator ( @jezcope: are you coordinating space/language around this new designation?)
2) seeing if there are people who want to work on the lesson
3) checking back in on their work post-sprint, especially if a potential new maintainer or two emerge

Is that somethi

[2017-06-01 03:19] gillianelliot commented on #7
Reflecting back to the very first post:
To get buy-in from potential learners (as opposed to instructors), I think we need to address this somewhere on either the home or about pages. Both of these currently go straight into detail about which tools are taught (git, OR, etc.) without explaining in lay terms why those skills are useful.

Yes, yes and yes. Please can the 'why bother' be clearly prio

[2017-06-01 05:03] weaverbel commented on #7
All good points @gillianelliot - what did you think of my comments above? Useful/not useful?

[2017-06-01 06:06] gillianelliot commented on #7
Do you mean your comments " I also think we need to make the case for..." if so, I would certainly agree the need for data mining, etc support - although I don't think the information support need has entirely disappeared. It doesn't help this sprint but we're going to probe our own librarians next week for what challenges they face, as a primer for LC. It may be that some of these challenges in t

[2017-06-02 11:45] jezcope commented on #26
Ok, I've drafted up a workshops page here, which you can view at https://jezcope.github.io/librarycarpentry-website/workshops/

I've imported the data from the Google sheet into this YAML file, roughly following the structure of the data that AMY outputs: https://github.com/jezcope/librarycarpentry-website/blob/master/_data/fake_amy.yml

The whole thing needs refinement and the process documenting

[2017-06-02 12:28] drjwbaker commented on #26
We certainly are getting there. Great job Jez. We will need some documentation for adding new data. Feel free to hand that over if you run out of time.

[2017-06-06 15:35] drjwbaker commented on #25
Close as discussion on main LC repo

[2017-06-06 15:35] #25 closed

[2017-06-06 15:36] drjwbaker commented on #24
Where are we with this?

[2017-06-06 15:36] #23 closed

[2017-06-06 15:37] drjwbaker commented on #22
Close as superseded by https://github.com/data-lessons/librarycarpentry/issues/22

[2017-06-06 15:37] #22 closed

[2017-06-06 15:38] drjwbaker commented on #26
@jezcope: are you happy to leave issue here or would rather consolidate at https://github.com/data-lessons/librarycarpentry/issues?

[2017-06-18 20:38] jezcope commented on #26
@drjwbaker @weaverbel Ok, I've pushed an update with the workshop info held in a more maintainable way. Data about workshops is now in [`_data/fake_amy.yaml`](https://github.com/LibraryCarpentry/librarycarpentry.github.io/blob/master/_data/fake_amy.yml) (name chosen because the format mirrors that exported by [AMY](https://github.com/swcarpentry/amy) for the SWC website, but probably shouldn't rea

[2017-06-19 07:22] drjwbaker commented on #26
Awesome job @jezcope! Tried to make some changes (add workshop) but am getting a build fail on a line I didn't touch:

`There was a YAML syntax error on line 102 column 5 in `_data/fake_amy.yml`: `did not find expected key while parsing a block mapping`.`

Thoughts?

[2017-06-20 11:21] weaverbel opened #28 "Recording papers and presentations"
It would be good to have a central place to record upcoming (or even past) conference papers/presentations/posters etc about Library Carpentry. I intend to do a paper for a conference in October, and other people might be interested in that, or might want to borrow some slides, text, etc to do something similar at a conference they are going to. It helps us keep tabs on activity too. I'd love to k

[2017-06-20 13:36] drjwbaker commented on #28
What does this look like rendered as html?

[2017-06-20 13:50] jezcope commented on #26
Hmm, not sure. Where is the error occurring? Are you running Jekyll on your own computer or testing it on github?

Could you post your modified YAML file as a [gist](https://gist.github.com/) so I can take a look?

[2017-06-20 14:37] drjwbaker commented on #26
I reverted and changed some since and it is fine now. It wast just odd that a line I didn't touch as failing. If it happens again, I'll report again.

[2017-06-20 16:07] jezcope commented on #26
No worries. 🙂 Most tools are bad at localising errors to where the actually occurred (try missing out a `}` in a C-derived language sometime…), because it's pretty hard to do! Generally the best you get is a report of where the tool finally gave up because it couldn't get any further, which is often way past where you actually made a typo.

[2017-06-20 16:12] jezcope commented on #26
@drjwbaker I spotted the broken commit in the history and took a look — I've added a couple of comments on 1fcffc12770a09c915d14380275919d0159573de which should clarify where the problem occurred.

[2017-06-20 16:13] jezcope opened #29 "Document how to add/modify workshop and lesson details"
Not everyone is familiar with YAML, so it's worth a short description of how to do this.

[2017-06-21 02:41] weaverbel commented on #28
Dunno - we would have to install it and see? @drjwbaker @jezcope

[2017-06-21 05:23] jezcope commented on #28
Hmm, might not be much help after all. From the README:

[2017-06-21 06:18] danmichaelo commented on #28
Perhaps a public Zotero group ([example](https://www.zotero.org/groups/503546/wikimedia_in_libraries_research_collection)) could do?

[2017-06-21 09:39] drjwbaker commented on #28
I'm a BIG fan of public Zotero groups, particularly given that development is back on track. See https://forums.zotero.org/discussion/59829/zotero-5-0-beta for latest beta announcement. This new feature might fit our needs:

[2017-06-22 21:18] jcoliver commented on #24
I'm planning a workshop for early August and it would be great to have this available. I can lend a hand if there's more work needed to get the template off the ground.

[2017-06-22 23:00] weaverbel commented on #24
I think the work is done @jcoliver @drjwbaker - when we did workshop template in our last class, LC was available as a flavour of carpentry.

[2017-06-23 08:20] drjwbaker commented on #24
It might be, but we don't have documentation on how to use it in place useful for people who want to run an LC workshop (as far as I know). I don't know how to use it..

[2017-06-23 13:21] rgaiacs commented on #24
1. Clone https://github.com/swcarpentry/workshop-template
2. At https://github.com/swcarpentry/workshop-template/blob/gh-pages/index.html, change `carpentry: "FIXME"` to `carpentry: "lc"`.
3. Change files at https://github.com/swcarpentry/workshop-template/tree/gh-pages/_includes/lc as you like.

@jcoliver Help with documentation are welcome. :-) Any question, open a issue at https://github.com/sw

[2017-07-07 15:56] jezcope opened #31 "Improve language around lesson maturity"
Suggestion was to use "Stable" instead of "Core".

[2017-07-08 01:25] richyvk opened #32 "New look and feel"
As per the discussion 7th July. I'm happy to look at options for revamping the homepage. My first thought was what do we think about the data carpentry site: http://www.datacarpentry.org/

Looks like it's based on an existing Jekyll template. Wondering if that could be the basis for our revamp - I think it looks pretty nice.

Thoughts??

[2017-07-08 07:54] weaverbel commented on #32
Thanks @richyvk I like these and they are also on GitHub https://biodata-club.github.io/ http://mozillascience.github.io/studyGroup/

I think the DC site is OK too, but the header takes up a lot of screen real estate.

[2017-07-08 10:04] richyvk commented on #32
Looks like they use this theme: https://y7kim.github.io/agency-jekyll-theme/ - I like it!

Shouldn't be too hard to do a mock up of our site using that. Might have a crack at it later this week.

[2017-07-09 10:08] jezcope commented on #32
@richyvk I rather like that — would be good to customise the colours so it doesn't look quite so identical to the Biodata and Study Group sites though. 🙂

[2017-07-10 07:19] drjwbaker commented on #32
Can we rename ourselves 'Awesome Title' in the process :) Thanks @richyvk for taking on this task!

[2017-07-11 00:58] weaverbel commented on #32
Yes @richyvk - all eyes on you now - no pressure ;-)

[2017-07-11 01:26] richyvk commented on #32
Challenge accepted :) Working on something currently. Hope to have a demo up by end of the week.

[2017-07-11 01:46] weaverbel commented on #32
Great - stuff I emailed you was for different website so just ignore that.

[2017-07-13 22:33] richyvk commented on #32
http://www.richyvk.me/library-carpentry-redesign/ - draft revamp - using https://github.com/y7kim/agency-jekyll-theme theme as a start.

Put some more comments in Gitter lobby. Not sure where is the best place to discuss?

I think this theme is good - has the potential to be a good solution. Over to you for feedback/comments...

[2017-07-18 08:44] drjwbaker opened #33 "Collate images of us teaching"
Further to https://github.com/LibraryCarpentry/librarycarpentry.github.io/issues/32, it would be nice to pull together some images of us teaching or doing LC to use in the refreshed website. Here are some suggestions from me. Where we haven't taken/posted them, we need to ask the taker/poster for permission to use:

- https://twitter.com/LibCarpentry/status/860175338638200832 **Instructor Training

[2018-09-28 15:04] katrinleinweber opened #46 "Archive this in favour of..."
... https://github.com/LibraryCarpentry/new-website or https://github.com/LibraryCarpentry/test

[2018-11-26 13:26] katrinleinweber commented on #5
Was it a singular opinion, or several voices? I suggest to keep a tally of :+1: and only act once a few have accumulated.

[2018-11-26 14:08] libcce commented on #5
It was singular. I was just logging it here in case there are more voices 😃

[2018-12-16 21:51] libcce commented on #11
Thanks. Just added this language https://github.com/LibraryCarpentry/librarycarpentry.github.io/commit/8c5dca7ae2c40019b44cd5a6b976e1c10c7cb902 .

[2019-01-07 12:59] libcce commented on #10
I'm partial to using the quote block. I'll wait to hear from others but I think we can keep this for now.

[2019-01-07 14:04] maneesha commented on #10
OK.  @libcce  You can close this if you want then.

[2019-01-08 13:03] katrinleinweber commented on #10
If it _is_ a quote, adding the source would make this more clear. Right now, it does look odd to me as well.

[2019-01-13 03:25] libcce commented on #10
@katrinleinweber @maneesha the text is not a quote so I remove the quote https://github.com/LibraryCarpentry/librarycarpentry.github.io/commit/152aeb18c2bfdf88979362c0e613d1a48760a8bc

[2019-01-21 22:37] libcce commented on #5
I haven't heard of others having issues. Closing.

[2019-02-16 16:31] jscaffrey commented on #29
Thank you for identifying and reporting the issue. I just submitted PR #30 which should resolve this.

[2019-02-18 04:45] libcce commented on #29
Thanks @ilessing @jscaffrey @katrinleinweber 😃 I've merged @jscaffrey's PR https://github.com/LibraryCarpentry/librarycarpentry.github.io/pull/30.

[2019-02-19 19:58] libcce commented on #32
@katrinleinweber just checked https://github.com/LibraryCarpentry/librarycarpentry.github.io/search?q=blockquote&unscoped_q=blockquote you don't need to do this it seems. There were only a few cases where tweets were embedded and I got around it by switching to .html instead of .md (before you found a way, thanks).

[2019-02-19 20:29] katrinleinweber commented on #32
But, but [Calgary](https://librarycarpentry.org/blog/2018/09/report-from-calgary-workshops/) 😢 I feel a special connection to that city 😉

[2019-02-19 20:46] libcce commented on #32
Thanks, I didn't catch this! And I don't understand why this is failing, I thought I had fixed it but it might've been before we transitioned to the new site. Thanks for catching this one too! And I ❤️ Calgary as well. The training we held there has led to many new instructors helping with Library Carpentry 😃